<a href="https://colab.research.google.com/github/paras-negi2005/Applied-Machine-Learning-Lab/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

______
**1. Write a program to initialize a dictionary (of your choice) and create a pandas DataFrame from it. Print the dataframe?**

In [24]:
import pandas as pd

data={
    "Name" : ["Paras","Ram","Shyam","Rahul"],
    "Age"  : [21,22,20,21],
    "Course":["CSE","BPHARMA","MBA","CSE"]
}

df=pd.DataFrame(data)
print(df)

    Name  Age   Course
0  Paras   21      CSE
1    Ram   22  BPHARMA
2  Shyam   20      MBA
3  Rahul   21      CSE

___
**2. Write a program to read the CSV file "summer.csv" into a pandas DataFrame "df", display the first 5 rows, and print the DataFrame's shape**

In [25]:
df = pd.read_csv("summer.csv")


print(df.head())

# Print shape of DataFrame
print("Shape of DataFrame:", df.shape)

   Year    City     Sport Discipline             Athlete Country Gender  \
0  1896  Athens  Aquatics   Swimming       HAJOS, Alfred     HUN    Men
1  1896  Athens  Aquatics   Swimming    HERSCHMANN, Otto     AUT    Men
2  1896  Athens  Aquatics   Swimming   DRIVAS, Dimitrios     GRE    Men
3  1896  Athens  Aquatics   Swimming  MALOKINIS, Ioannis     GRE    Men
4  1896  Athens  Aquatics   Swimming  CHASAPIS, Spiridon     GRE    Men

                        Event   Medal
0              100M Freestyle    Gold
1              100M Freestyle  Silver
2  100M Freestyle For Sailors  Bronze
3  100M Freestyle For Sailors    Gold
4  100M Freestyle For Sailors  Silver
Shape of DataFrame: (31165, 9)

___
**3. Write a program to display the last 10 rows of the DataFrame?**

In [26]:
print(df.tail(10))

       Year    City      Sport           Discipline  \
31155  2012  London  Wrestling  Wrestling Freestyle
31156  2012  London  Wrestling  Wrestling Freestyle
31157  2012  London  Wrestling  Wrestling Freestyle
31158  2012  London  Wrestling  Wrestling Freestyle
31159  2012  London  Wrestling  Wrestling Freestyle
31160  2012  London  Wrestling  Wrestling Freestyle
31161  2012  London  Wrestling  Wrestling Freestyle
31162  2012  London  Wrestling  Wrestling Freestyle
31163  2012  London  Wrestling  Wrestling Freestyle
31164  2012  London  Wrestling  Wrestling Freestyle

                            Athlete Country Gender     Event   Medal
31155                 AHMADOV, Emin     AZE    Men  Wg 74 KG  Bronze
31156          KAZAKEVIC, Aleksandr     LTU    Men  Wg 74 KG  Bronze
31157                 KHUGAEV, Alan     RUS    Men  Wg 84 KG    Gold
31158  EBRAHIM, Karam Mohamed Gaber     EGY    Men  Wg 84 KG  Silver
31159               GAJIYEV, Danyal     KAZ    Men  Wg 84 KG  Bronze
31160            JANIKOWSKI, Damian     POL    Men  Wg 84 KG  Bronze
31161     REZAEI, Ghasem Gholamreza     IRI    Men  Wg 96 KG    Gold
31162                TOTROV, Rustam     RUS    Men  Wg 96 KG  Silver
31163             ALEKSANYAN, Artur     ARM    Men  Wg 96 KG  Bronze
31164                LIDBERG, Jimmy     SWE    Men  Wg 96 KG  Bronze

___
**4. Write a program to get a summary of the DataFrame (such as the mean, count, etc.) and print the data types of all columns?**

In [27]:
print(df.describe())
print('\n')
print(df.dtypes)

               Year
count  31165.000000
mean    1970.482785
std       33.158416
min     1896.000000
25%     1948.000000
50%     1980.000000
75%     2000.000000
max     2012.000000


Year           int64
City          object
Sport         object
Discipline    object
Athlete       object
Country       object
Gender        object
Event         object
Medal         object
dtype: object

___
**5. Write a program to select a single column "Gender" from the DataFrame?**

In [28]:
gender=df["Gender"]
print(gender)

0        Men
1        Men
2        Men
3        Men
4        Men
        ...
31160    Men
31161    Men
31162    Men
31163    Men
31164    Men
Name: Gender, Length: 31165, dtype: object

___
**6. Write a program to select multiple columns "Year" and "City" from the DataFrame?**

In [29]:
clm=df[["Year","City"]]
print(clm)

       Year    City
0      1896  Athens
1      1896  Athens
2      1896  Athens
3      1896  Athens
4      1896  Athens
...     ...     ...
31160  2012  London
31161  2012  London
31162  2012  London
31163  2012  London
31164  2012  London

[31165 rows x 2 columns]

___
**7. Write a program to  filter rows in a DataFrame based on the condition that Gender = Men ?**

In [30]:
men=df[df["Gender"]=="Men"]
print(men)

       Year    City      Sport           Discipline  \
0      1896  Athens   Aquatics             Swimming
1      1896  Athens   Aquatics             Swimming
2      1896  Athens   Aquatics             Swimming
3      1896  Athens   Aquatics             Swimming
4      1896  Athens   Aquatics             Swimming
...     ...     ...        ...                  ...
31160  2012  London  Wrestling  Wrestling Freestyle
31161  2012  London  Wrestling  Wrestling Freestyle
31162  2012  London  Wrestling  Wrestling Freestyle
31163  2012  London  Wrestling  Wrestling Freestyle
31164  2012  London  Wrestling  Wrestling Freestyle

                         Athlete Country Gender                       Event  \
0                  HAJOS, Alfred     HUN    Men              100M Freestyle
1               HERSCHMANN, Otto     AUT    Men              100M Freestyle
2              DRIVAS, Dimitrios     GRE    Men  100M Freestyle For Sailors
3             MALOKINIS, Ioannis     GRE    Men  100M Freestyle For Sailors
4             CHASAPIS, Spiridon     GRE    Men  100M Freestyle For Sailors
...                          ...     ...    ...                         ...
31160         JANIKOWSKI, Damian     POL    Men                    Wg 84 KG
31161  REZAEI, Ghasem Gholamreza     IRI    Men                    Wg 96 KG
31162             TOTROV, Rustam     RUS    Men                    Wg 96 KG
31163          ALEKSANYAN, Artur     ARM    Men                    Wg 96 KG
31164             LIDBERG, Jimmy     SWE    Men                    Wg 96 KG

        Medal
0        Gold
1      Silver
2      Bronze
3        Gold
4      Silver
...       ...
31160  Bronze
31161    Gold
31162  Silver
31163  Bronze
31164  Bronze

[22746 rows x 9 columns]

___
**8. Write a program to select and print the first 5 rows and columns 2 to 6 (inclusive) of the DataFrame. Also, print the type of the resulting object?**

In [31]:
subset = df.iloc[:5,1:6]
print(subset)
print(type(subset))

     City     Sport Discipline             Athlete Country
0  Athens  Aquatics   Swimming       HAJOS, Alfred     HUN
1  Athens  Aquatics   Swimming    HERSCHMANN, Otto     AUT
2  Athens  Aquatics   Swimming   DRIVAS, Dimitrios     GRE
3  Athens  Aquatics   Swimming  MALOKINIS, Ioannis     GRE
4  Athens  Aquatics   Swimming  CHASAPIS, Spiridon     GRE
<class 'pandas.core.frame.DataFrame'>

___
**9. Write a program to  delete a column "City" from the DataFrame and print the new dataframe??**

In [32]:
df = df.drop("City", axis=1)

print(df)

       Year      Sport           Discipline                    Athlete  \
0      1896   Aquatics             Swimming              HAJOS, Alfred
1      1896   Aquatics             Swimming           HERSCHMANN, Otto
2      1896   Aquatics             Swimming          DRIVAS, Dimitrios
3      1896   Aquatics             Swimming         MALOKINIS, Ioannis
4      1896   Aquatics             Swimming         CHASAPIS, Spiridon
...     ...        ...                  ...                        ...
31160  2012  Wrestling  Wrestling Freestyle         JANIKOWSKI, Damian
31161  2012  Wrestling  Wrestling Freestyle  REZAEI, Ghasem Gholamreza
31162  2012  Wrestling  Wrestling Freestyle             TOTROV, Rustam
31163  2012  Wrestling  Wrestling Freestyle          ALEKSANYAN, Artur
31164  2012  Wrestling  Wrestling Freestyle             LIDBERG, Jimmy

      Country Gender                       Event   Medal
0         HUN    Men              100M Freestyle    Gold
1         AUT    Men              100M Freestyle  Silver
2         GRE    Men  100M Freestyle For Sailors  Bronze
3         GRE    Men  100M Freestyle For Sailors    Gold
4         GRE    Men  100M Freestyle For Sailors  Silver
...       ...    ...                         ...     ...
31160     POL    Men                    Wg 84 KG  Bronze
31161     IRI    Men                    Wg 96 KG    Gold
31162     RUS    Men                    Wg 96 KG  Silver
31163     ARM    Men                    Wg 96 KG  Bronze
31164     SWE    Men                    Wg 96 KG  Bronze

[31165 rows x 8 columns]

___
**10. Write a program to  rename a column "Athlete" to "Participants" in the DataFrame?**

In [33]:
df=df.rename(columns={"Athlete":"Participants"})
print(df)

       Year      Sport           Discipline               Participants  \
0      1896   Aquatics             Swimming              HAJOS, Alfred
1      1896   Aquatics             Swimming           HERSCHMANN, Otto
2      1896   Aquatics             Swimming          DRIVAS, Dimitrios
3      1896   Aquatics             Swimming         MALOKINIS, Ioannis
4      1896   Aquatics             Swimming         CHASAPIS, Spiridon
...     ...        ...                  ...                        ...
31160  2012  Wrestling  Wrestling Freestyle         JANIKOWSKI, Damian
31161  2012  Wrestling  Wrestling Freestyle  REZAEI, Ghasem Gholamreza
31162  2012  Wrestling  Wrestling Freestyle             TOTROV, Rustam
31163  2012  Wrestling  Wrestling Freestyle          ALEKSANYAN, Artur
31164  2012  Wrestling  Wrestling Freestyle             LIDBERG, Jimmy

      Country Gender                       Event   Medal
0         HUN    Men              100M Freestyle    Gold
1         AUT    Men              100M Freestyle  Silver
2         GRE    Men  100M Freestyle For Sailors  Bronze
3         GRE    Men  100M Freestyle For Sailors    Gold
4         GRE    Men  100M Freestyle For Sailors  Silver
...       ...    ...                         ...     ...
31160     POL    Men                    Wg 84 KG  Bronze
31161     IRI    Men                    Wg 96 KG    Gold
31162     RUS    Men                    Wg 96 KG  Silver
31163     ARM    Men                    Wg 96 KG  Bronze
31164     SWE    Men                    Wg 96 KG  Bronze

[31165 rows x 8 columns]

___
**11. Write a program to select and print the "Participants", "Medal" and "Event" columns for index 10 and 201 from the DataFrame.?**

In [34]:
# Select columns for index 10 and 201
selected_data = df.loc[[10, 201], ["Participants", "Medal", "Event"]]

print(selected_data)

          Participants   Medal           Event
10   PEPANOS, Antonios  Silver  400M Freestyle
201    LISTER, William    Gold      Water Polo

___
**12. Write a program to display the first 10 rows of the df DataFrame and check for any missing values in each column.?**

In [35]:
print(df.head(10))
print(df.isnull().sum())

   Year     Sport Discipline           Participants Country Gender  \
0  1896  Aquatics   Swimming          HAJOS, Alfred     HUN    Men
1  1896  Aquatics   Swimming       HERSCHMANN, Otto     AUT    Men
2  1896  Aquatics   Swimming      DRIVAS, Dimitrios     GRE    Men
3  1896  Aquatics   Swimming     MALOKINIS, Ioannis     GRE    Men
4  1896  Aquatics   Swimming     CHASAPIS, Spiridon     GRE    Men
5  1896  Aquatics   Swimming  CHOROPHAS, Efstathios     GRE    Men
6  1896  Aquatics   Swimming          HAJOS, Alfred     HUN    Men
7  1896  Aquatics   Swimming       ANDREOU, Joannis     GRE    Men
8  1896  Aquatics   Swimming  CHOROPHAS, Efstathios     GRE    Men
9  1896  Aquatics   Swimming          NEUMANN, Paul     AUT    Men

                        Event   Medal
0              100M Freestyle    Gold
1              100M Freestyle  Silver
2  100M Freestyle For Sailors  Bronze
3  100M Freestyle For Sailors    Gold
4  100M Freestyle For Sailors  Silver
5             1200M Freestyle  Bronze
6             1200M Freestyle    Gold
7             1200M Freestyle  Silver
8              400M Freestyle  Bronze
9              400M Freestyle    Gold
Year            0
Sport           0
Discipline      0
Participants    0
Country         4
Gender          0
Event           0
Medal           0
dtype: int64

___
**13. Write a program to select and print the "Country" and "Medal" columns from the df DataFrame, and then print the number of unique values in each of these columns.?**

In [36]:
select_clm=df[["Country","Medal"]]
print(select_clm)
print("Unique Countries",df["Country"].nunique)
print("Unique Medal",df["Medal"].nunique)

      Country   Medal
0         HUN    Gold
1         AUT  Silver
2         GRE  Bronze
3         GRE    Gold
4         GRE  Silver
...       ...     ...
31160     POL  Bronze
31161     IRI    Gold
31162     RUS  Silver
31163     ARM  Bronze
31164     SWE  Bronze

[31165 rows x 2 columns]
Unique Countries <bound method IndexOpsMixin.nunique of 0        HUN
1        AUT
2        GRE
3        GRE
4        GRE
        ...
31160    POL
31161    IRI
31162    RUS
31163    ARM
31164    SWE
Name: Country, Length: 31165, dtype: object>
Unique Medal <bound method IndexOpsMixin.nunique of 0          Gold
1        Silver
2        Bronze
3          Gold
4        Silver
          ...
31160    Bronze
31161      Gold
31162    Silver
31163    Bronze
31164    Bronze
Name: Medal, Length: 31165, dtype: object>

___
**14. Write a program to group the df DataFrame by the "Country" column and calculate the total number of medals for each country. Print the result.?**

In [37]:
# Group by Country and count medals
medals_by_country = df.groupby("Country")["Medal"].count()

print(medals_by_country)

Country
AFG      2
AHO      1
ALG     15
ANZ     29
ARG    259
      ...
VIE      2
YUG    435
ZAM      2
ZIM     23
ZZX     48
Name: Medal, Length: 147, dtype: int64

___
**15. Write a program to sort the df DataFrame by the "Year" column in descending order and print the first 5 rows of the sorted DataFrame.?**

In [38]:
sorted_df=df.sort_values(by="Year",ascending=False)
print(sorted_df.head)

<bound method NDFrame.head of        Year      Sport           Discipline  \
31141  2012  Wrestling  Wrestling Freestyle
31143  2012  Wrestling  Wrestling Freestyle
31164  2012  Wrestling  Wrestling Freestyle
31163  2012  Wrestling  Wrestling Freestyle
31162  2012  Wrestling  Wrestling Freestyle
...     ...        ...                  ...
40     1896  Athletics            Athletics
3      1896   Aquatics             Swimming
2      1896   Aquatics             Swimming
1      1896   Aquatics             Swimming
0      1896   Aquatics             Swimming

                            Participants Country Gender  \
31141  SORYAN REIHANPOUR, Hamid Mohammad     IRI    Men
31143                       MODOS, Peter     HUN    Men
31164                     LIDBERG, Jimmy     SWE    Men
31163                  ALEKSANYAN, Artur     ARM    Men
31162                     TOTROV, Rustam     RUS    Men
...                                  ...     ...    ...
40                  HOYT, William Welles     USA    Men
3                     MALOKINIS, Ioannis     GRE    Men
2                      DRIVAS, Dimitrios     GRE    Men
1                       HERSCHMANN, Otto     AUT    Men
0                          HAJOS, Alfred     HUN    Men

                            Event   Medal
31141                    Wg 55 KG    Gold
31143                    Wg 55 KG  Bronze
31164                    Wg 96 KG  Bronze
31163                    Wg 96 KG  Bronze
31162                    Wg 96 KG  Silver
...                           ...     ...
40                     Pole Vault    Gold
3      100M Freestyle For Sailors    Gold
2      100M Freestyle For Sailors  Bronze
1                  100M Freestyle  Silver
0                  100M Freestyle    Gold

[31165 rows x 8 columns]>

___
**16. Write a program to add a new column "Century" to the df DataFrame. Classify each event as occurring in the "20th Century" if the "Year" is less than 2000, or the "21st Century" if the "Year" is 2000 or later. Print the first 5 rows to verify the change.**

In [39]:
df["Century"] = df["Year"].apply(
    lambda y: "20th Century" if y < 2000 else "21st Century"
)

print(df.head(5))

   Year     Sport Discipline        Participants Country Gender  \
0  1896  Aquatics   Swimming       HAJOS, Alfred     HUN    Men
1  1896  Aquatics   Swimming    HERSCHMANN, Otto     AUT    Men
2  1896  Aquatics   Swimming   DRIVAS, Dimitrios     GRE    Men
3  1896  Aquatics   Swimming  MALOKINIS, Ioannis     GRE    Men
4  1896  Aquatics   Swimming  CHASAPIS, Spiridon     GRE    Men

                        Event   Medal       Century
0              100M Freestyle    Gold  20th Century
1              100M Freestyle  Silver  20th Century
2  100M Freestyle For Sailors  Bronze  20th Century
3  100M Freestyle For Sailors    Gold  20th Century
4  100M Freestyle For Sailors  Silver  20th Century

___
**17. Write a program to filter and print rows from the df DataFrame where the "Country" is "USA" and the "Medal" is "Gold". Also, count the number of rows that meet this condition.**

In [40]:
usa_gold = df[(df["Country"] == "USA") & (df["Medal"] == "Gold")]

print(usa_gold)

print("Number of USA Gold medals:", usa_gold.shape[0])

       Year       Sport           Discipline              Participants  \
13     1896   Athletics            Athletics             BURKE, Thomas
15     1896   Athletics            Athletics            CURTIS, Thomas
21     1896   Athletics            Athletics             BURKE, Thomas
27     1896   Athletics            Athletics           GARRETT, Robert
29     1896   Athletics            Athletics             CLARK, Ellery
...     ...         ...                  ...                       ...
30955  2012      Tennis               Tennis          WILLIAMS, Serena
30970  2012  Volleyball     Beach Volleyball                MAY, Misty
30971  2012  Volleyball     Beach Volleyball     WALSH JENNINGS, Kerri
31125  2012   Wrestling  Wrestling Freestyle  BURROUGHS, Jordan Ernest
31133  2012   Wrestling  Wrestling Freestyle     VARNER, Jacob Stephen

      Country Gender             Event Medal       Century
13        USA    Men              100M  Gold  20th Century
15        USA    Men      110M Hurdles  Gold  20th Century
21        USA    Men              400M  Gold  20th Century
27        USA    Men      Discus Throw  Gold  20th Century
29        USA    Men         High Jump  Gold  20th Century
...       ...    ...               ...   ...           ...
30955     USA  Women           Singles  Gold  21st Century
30970     USA  Women  Beach Volleyball  Gold  21st Century
30971     USA  Women  Beach Volleyball  Gold  21st Century
31125     USA    Men          Wf 74 KG  Gold  21st Century
31133     USA    Men          Wf 96 KG  Gold  21st Century

[2235 rows x 9 columns]
Number of USA Gold medals: 2235

___
**18. Write a program to create a new column "Medal Points" in the df DataFrame. Assign 3 points for "Gold", 2 points for "Silver", and 1 point for "Bronze". Print the first 5 rows to verify the changes.**

In [41]:
points = {"Gold": 3, "Silver": 2, "Bronze": 1}

df["Medal Points"] = df["Medal"].map(points)

print(df.head(5))

   Year     Sport Discipline        Participants Country Gender  \
0  1896  Aquatics   Swimming       HAJOS, Alfred     HUN    Men
1  1896  Aquatics   Swimming    HERSCHMANN, Otto     AUT    Men
2  1896  Aquatics   Swimming   DRIVAS, Dimitrios     GRE    Men
3  1896  Aquatics   Swimming  MALOKINIS, Ioannis     GRE    Men
4  1896  Aquatics   Swimming  CHASAPIS, Spiridon     GRE    Men

                        Event   Medal       Century  Medal Points
0              100M Freestyle    Gold  20th Century             3
1              100M Freestyle  Silver  20th Century             2
2  100M Freestyle For Sailors  Bronze  20th Century             1
3  100M Freestyle For Sailors    Gold  20th Century             3
4  100M Freestyle For Sailors  Silver  20th Century             2

___
**19. Write a program to filter the df DataFrame to include only rows where the "Country" is "USA". Then, group the filtered DataFrame by "Year" and calculate the total number of medals won by the USA each year. Print the results.**

In [42]:
usa_df = df[df["Country"] == "USA"]

medals_per_year = usa_df.groupby("Year").size()

print(medals_per_year)

Year
1896     20
1900     55
1904    394
1908     63
1912    101
1920    193
1924    198
1928     84
1932    181
1936     92
1948    148
1952    130
1956    118
1960    112
1964    150
1968    149
1972    155
1976    155
1984    333
1988    193
1992    224
1996    260
2000    248
2004    264
2008    315
2012    250
dtype: int64

___
**20. Write a program to identify the athlete who has won the most medals. Display the athlete's name and the total number of medals they have won.**

In [43]:
df = pd.read_csv("summer.csv")

medal_count = df.groupby("Athlete").size()

top_athlete = medal_count.idxmax()
total_medals = medal_count.max()

print("Athlete with most medals:", top_athlete)
print("Total medals won:", total_medals)

Athlete with most medals: PHELPS, Michael
Total medals won: 22

**21. Write a program to group the df DataFrame by the "Sport" column and calculate the number of each type of medal (Gold, Silver, Bronze) for each sport. Print the results.**

In [44]:
result = df.groupby(["Sport", "Medal"]).size().unstack(fill_value=0)

# Print result
print(result)

Medal              Bronze  Gold  Silver
Sport
Aquatics             1365  1421    1384
Archery                90   126     113
Athletics            1199  1215    1224
Badminton              52    46      46
Baseball              112   111     112
Basketball            334   342     336
Basque Pelota           0     2       2
Boxing                416   239     239
Canoe                  27    27      27
Canoe / Kayak         334   334     334
Cricket                 0    12      12
Croquet                 2     4       2
Cycling               365   371     369
Equestrian            306   320     313
Fencing               519   552     542
Football              509   503     485
Golf                    4    13      13
Gymnastics            731   820     756
Handball              323   321     329
Hockey                459   486     477
Ice Hockey              8     8      11
Jeu de paume            1     1       1
Judo                  246   123     122
Lacrosse                0    28      31
Modern Pentathlon      60    60      60
Polo                   17    22      27
Rackets                 4     3       3
Roque                   1     1       1
Rowing                888   890     889
Rugby                  23    78      91
Sailing               325   412     372
Shooting              380   384     386
Skating                 9     9       9
Softball               60    60      60
Table Tennis           52    46      46
Taekwondo              48    32      32
Tennis                114    92      90
Triathlon               8     8       8
Tug of War             22    36      36
Volleyball            331   332     331
Water Motorsports       0     5       0
Weightlifting         197   200     196
Wrestling             428   391     393